
#u3202 {
  border-width:0px;
  position:absolute;
  left:2056px;
  top:2198px;
  width:84px;
  height:60px;
}
#u3202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u3203_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:224px;
  height:62px;
}
#u3203 {
  border-width:0px;
  position:absolute;
  left:2197px;
  top:2198px;
  width:222px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:218px;
  word-wrap:break-word;
}
#u3204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3204 {
  border-width:0px;
  position:absolute;
  left:2472px;
  top:2198px;
  width:202px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u3205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3205 {
  border-width:0px;
  position:absolute;
  left:2212px;
  top:2084px;
  width:192px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u3206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:2171px;
  top:1978px;
  width:273px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u3207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:2056px;
  top:2352px;
  width:84px;
  height:60px;
}
#u3207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u3208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3208 {
  border-width:0px;
  position:absolute;
  left:2432px;
  top:2198px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3209_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:224px;
  height:62px;
}
#u3209 {
  border-width:0px;
  position:absolute;
  left:2197px;
  top:2352px;
  width:222px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:218px;
  word-wrap:break-word;
}
#u3210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3210 {
  border-width:0px;
  position:absolute;
  left:2472px;
  top:2352px;
  width:290px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:286px;
  word-wrap:break-word;
}
#u3211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3211 {
  border-width:0px;
  position:absolute;
  left:2432px;
  top:2344px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3212 {
  border-width:0px;
  position:absolute;
  left:2212px;
  top:2453px;
  width:192px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u3213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3213 {
  border-width:0px;
  position:absolute;
  left:2172px;
  top:2566px;
  width:271px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u3214 {
  border-width:0px;
  position:absolute;
  left:2140px;
  top:2228px;
  width:0px;
  height:0px;
}
#u3214_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u3214_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3215 {
  border-width:0px;
  position:absolute;
  left:2140px;
  top:2382px;
  width:0px;
  height:0px;
}
#u3215_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u3215_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3216 {
  border-width:0px;
  position:absolute;
  left:2419px;
  top:2228px;
  width:0px;
  height:0px;
}
#u3216_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u3216_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3217 {
  border-width:0px;
  position:absolute;
  left:2308px;
  top:2198px;
  width:0px;
  height:0px;
}
#u3217_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-54px;
  width:8px;
  height:58px;
}
#u3217_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3218 {
  border-width:0px;
  position:absolute;
  left:2308px;
  top:2084px;
  width:0px;
  height:0px;
}
#u3218_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-46px;
  width:8px;
  height:50px;
}
#u3218_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3219 {
  border-width:0px;
  position:absolute;
  left:2419px;
  top:2382px;
  width:0px;
  height:0px;
}
#u3219_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u3219_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3220 {
  border-width:0px;
  position:absolute;
  left:2308px;
  top:2412px;
  width:0px;
  height:0px;
}
#u3220_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u3220_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3221 {
  border-width:0px;
  position:absolute;
  left:2308px;
  top:2513px;
  width:0px;
  height:0px;
}
#u3221_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u3221_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3222 {
  border-width:0px;
  position:absolute;
  left:2056px;
  top:2453px;
  width:84px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u3223 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:68px;
  width:0px;
  height:0px;
}
#u3223_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u3223_seg1 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-22px;
  width:8px;
  height:26px;
}
#u3223_seg2 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-22px;
  width:1328px;
  height:8px;
}
#u3223_seg3 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:-22px;
  width:8px;
  height:31px;
}
#u3223_seg4 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:1px;
  width:18px;
  height:8px;
}
#u3223_text {
  border-width:0px;
  position:absolute;
  left:670px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3224 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:102px;
  width:0px;
  height:0px;
}
#u3224_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:277px;
}
#u3224_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:269px;
  width:1302px;
  height:8px;
}
#u3224_text {
  border-width:0px;
  position:absolute;
  left:462px;
  top:265px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3225 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:102px;
  width:0px;
  height:0px;
}
#u3225_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:522px;
}
#u3225_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:514px;
  width:1126px;
  height:8px;
}
#u3225_seg2 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:514px;
  width:8px;
  height:36px;
}
#u3225_seg3 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:542px;
  width:18px;
  height:8px;
}
#u3225_text {
  border-width:0px;
  position:absolute;
  left:271px;
  top:510px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3226 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:40px;
  width:0px;
  height:0px;
}
#u3226_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:434px;
}
#u3226_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:426px;
  width:455px;
  height:8px;
}
#u3226_seg2 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:426px;
  width:8px;
  height:375px;
}
#u3226_seg3 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:793px;
  width:18px;
  height:8px;
}
#u3226_text {
  border-width:0px;
  position:absolute;
  left:149px;
  top:422px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3227 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:40px;
  width:0px;
  height:0px;
}
#u3227_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:943px;
}
#u3227_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:935px;
  width:289px;
  height:8px;
}
#u3227_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:604px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3228 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:164px;
  width:0px;
  height:0px;
}
#u3228_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:1371px;
  height:8px;
}
#u3228_seg1 {
  border-width:0px;
  position:absolute;
  left:1363px;
  top:-4px;
  width:8px;
  height:1041px;
}
#u3228_seg2 {
  border-width:0px;
  position:absolute;
  left:1363px;
  top:1029px;
  width:60px;
  height:8px;
}
#u3228_text {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3229 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:352px;
  width:0px;
  height:0px;
}
#u3229_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1081px;
}
#u3229_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1073px;
  width:1435px;
  height:8px;
}
#u3229_text {
  border-width:0px;
  position:absolute;
  left:127px;
  top:1069px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3230 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:274px;
  width:0px;
  height:0px;
}
#u3230_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1344px;
}
#u3230_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1336px;
  width:209px;
  height:8px;
}
#u3230_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:764px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3231 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:670px;
  width:0px;
  height:0px;
}
#u3231_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1194px;
}
#u3231_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1186px;
  width:1149px;
  height:8px;
}
#u3231_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1160px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3232 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:522px;
  width:0px;
  height:0px;
}
#u3232_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1555px;
}
#u3232_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1547px;
  width:709px;
  height:8px;
}
#u3232_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1120px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3233 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:522px;
  width:0px;
  height:0px;
}
#u3233_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1775px;
}
#u3233_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1767px;
  width:465px;
  height:8px;
}
#u3233_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3234 {
  border-width:0px;
  position:absolute;
  left:1627px;
  top:646px;
  width:188px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u3235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3235 {
  border-width:0px;
  position:absolute;
  left:1620px;
  top:2324px;
  width:149px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
